dist: trusty
sudo: false
language: python
python: '3.6'
install:
- pip install sphinx==1.4.9
- cd ..
- pwd
- ls -la
- git clone https://github.com/python-doc-ja/py36.git py36
- git clone --depth=5 -b intl-3.5 https://github.com/python-doc-ja/cpython-doc-intl.git cpython
- cd cpython/Doc
- ln -s ../../py36-locale locale
- ls -lF locale
- sphinx-build -j4 -D language=ja -D locale_dirs=locale -D gettext_compact=0 -A versionswitcher=1 -E -d build/doctrees . ../../py36
script:
- cd ../../py36
- git config user.email "travis-build-bot@example.com"
- git config user.name "Autobuild bot on Travis-CI"
- git pull origin master
- git add .
- git commit -a -m "update html"
- git push --quiet "https://${GH_TOKEN}@github.com/python-doc-ja/py36.git" master:master

env:
  global:
    secure: "SAwyf3HkStGNMVPoNG5Plrn9hI+DsC3fXWZw0wFxPDDmpYBJ5SIg3i4fwrNt/djdPVKx7aHrEBGsFHwdFOq47CDjJMkPkUG7QOlSPZSp3GvwbywiS6dY8vWWxKctA1uGt+SVj6WRFKeuv371/HrQjUgH3CHobYd4epZ0EE/FARlq/TmeBNEoNHOd/4e7u6zTWFsUUZElx+LZy0t5Te7N2y3Z9xKrWGI5PIvw8qCbGqhFsu+AtsaCdsMkgjGQzjak/q12M/QGtx3glFKIa5ETTW4JP3Rc5Hcjc3ZfXsE46nIteMreH+a97lmgrelgt9B3RGmbrn7EVS1uMG0ARGuMNQuBCDQ/C5xcHCzta0r5LqtnlZZSnHqOZ14mnaaJo1ntOwKXierCxV5gxZOfc6mXjfTW44Hq6Mc0HWcRrOfxN23UzfijYp7z/xRu2UkgJB1ZuYj4TLtqaK/H3BfRs8I5NagqVC6v4rBhxdlLj/gb4jpCUAVMLe06SFSb9ypZn03E4v6yjjW8WkGZlILbZtVloxuDLUw2nrLy9u6rDliVqhb0LLSCU7w6GiJy7x2cdUN+4lv5qoJq15KLzqeOo1EY/9kUkvtqJjkk7V2d6M8qZws2FFs9DvGHsyE8OIDEYfolQ1vR2DACkYGY7MGFB6OjLE+LnmDLZRV6FQ+iSOmyK+k="
